# DATA CLEANING PART 1

# SINGAPORE - FAIR PRICE CLEANING

In [1]:
import pandas as pd
import glob
import os
import re

combining the files that were separated by subcategory and appending a sub category label

In [3]:
path = r"C:\Users\Jaeyoon Cho\Desktop\Hobby stuff\scripts\TKB\sg_fair_price"

In [6]:
filepaths = glob.glob(path+"/*.xlsx")
filepaths

['C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-clothing_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-food_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-furniture_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-gear_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-laundry_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-safety_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-toiletries_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_diapers_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_infant-formula_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_maternity-for-moms_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_milk-powder_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_nursing-feeding_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_toys_tkb.xlsx']

In [11]:
fp_sub_cats = [i.split("\\")[-1].split("_")[-2] for i in filepaths]

In [15]:
data = []

In [17]:
for i in range(len(filepaths)):
    frame = pd.read_excel(filepaths[i])
    frame['sub_category'] = fp_sub_cats[i]
    data.append(frame)
    df = pd.concat(data)

In [18]:
df.to_excel("sg_fp_tkb.xlsx",index=False)

to do
* calculate price per unit for all products (per 10g per 10ml per piece etc)
* standardise at what price to use to calculate(before discount)
* attach a brand column that shows what brand each product is

In [79]:
fp_brands = pd.read_excel("sg_fair_price_brands.xlsx")

In [80]:
fp_brands.head()

       Brand  count         category
0  3m Scotch      1  Nursing Feeding
1        555      3  Nursing Feeding
2       Algo      1  Nursing Feeding
3        Als      1  Nursing Feeding
4      Amark      5  Nursing Feeding

In [82]:
fp_brand_list = list(set([str(i) for i in fp_brands.Brand]))

In [83]:
fp_brand_list[:5]

['Cookie4Milk', 'Meera', 'Spring', 'Mamypoko', 'Hipp']

In [84]:
all_fp_tkb = pd.read_excel("sg_fp_tkb.xlsx")

In [85]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing

In [86]:
all_fp_tkb.name[0]

'Shears Blanket Fleece Blanket with Toy Buddy Pink Unicorn'

In [98]:
brand_regex = "(" + "|".join(fp_brand_list) + ")"
brand_regex

"(Cookie4Milk|Meera|Spring|Mamypoko|Hipp|The First Years Disney|Enfamil|Elgydium|Fairprice|Vigo|SENSI|The Foodiepedia|Bahlsen|Abbott Isomil|Little Pasta|Illuma|Wel.B|Good Bubble|Beauty line|Dumex|Offspring|Babyganics|Argasol\xa0|3m|Annie's Homegrown|Drypers|AVEDA|Bosomi|Nestle|Hap-P-Kid|Kiwigarden|Gw|Dapple|Dr. Paw Paw|Bubblebum|Happy Baby|Comvita|Double Bear|Little Etoile Organic|Tomica|Dr Gram|Quinua Real|Mom Essentials|Bickiepegs|Himalaya|Thames & Kosmos|Natural Aid|Dolphin Collection|MommyJ|Brookfarm|Ecostore|Pampers|Meykrs|Freedom Foods|Algo|Cetaphil|Wyeth S26|Baby Buddy|Happy Family|Nature Love Mere|Nuk|Baby Bjorn|Pinkfong|APPLECRUMBY|Medela|Only Org|Earth Mama|Simple Wishes|Dove|KinderNurture|Beautex|Babience|Shears|Biogaia|Kool Fever|Grinny|Friso|Colgate|Vesta|MELVADOS|B.Box|Holle|Sosro|Morinaga|Drapolene|Als|Colief|MARC ANTHONY|Buds Organics|EZPZ|Wakodo|Foodies With Love|Aptamil|Dentinox|Aquafresh|Pediasure|Cake Beauty|Dr.El|B&B|TASTI |Dr. Jacobs Naturals|Aquato|Germinal|Frisolac|Spectra|LoveSprings|Mavella|Minimonkey|Cawston|Doidy Cup|Organic Wave|Natural Secrets|Health Paradise|Lusol|Pipper Std|Ildong|Real Shades|Rudolfs|Bluna|Little Innoscents|Kidmoro|Bioshield|Einmilk|Kari Home|Kodomo|Euky Bear|Awarua Organics|Aveeno Baby|Vip|Nestle Lactogen|Hagerwin|Bentley Organic|Breeze|Ardo|Pureen|BONZ|Natracare|Nepia|Neat Solutions|Dr. Brown's|Mustela|Dori Dori|Tomy Disney|Summer Infant|Kewpie|Plum Organic|Pigeon|Abbott Grow|Bubble|Tasti|Gerber|Caredyn|Manicare|The First Years|Make My Day|Quickbury|Mother Earth|Horikoshi Japan|Maymom|Moon Rabbit Brand|Kiddylicious|Lavie|Milkaid|Haakaa|Tollyjoy|Essano|Maeil|Carrie Junior|Johnson'S|Merito|Koolsun|ToddlerFinest|Gum|Weleda|Against24|Heinz|HaruPlate|Kendakids|Nuvita|Tropicana|Ecomax|Baby U|Darlie|Alvins|Amark|MIJOY|Apple Monkey|Enfamama|Nestle Nan|Gogo Squeez|Greenscent|Candide|555|Bubs Organic|Keeyo|Green Bio Tech|Bellamy'S|Kent Brushes|Lau Yuen Tong|Le Organic|Biolane|HOUZE|Merries|Babytimes!|Annabel Karmel|Nomi Japan|AMA|Sanrio|Made4Baby|For Aisha|Alteya Organics|3m Scotch|Liese|Ergobaby|Gabrielle T|Benny B|NATUREALLY|Skiphop|Bebble|Mam|Twistshake|Philips Avent|Nut Walker|Huggies|Peachy|Nuby|Only Organic|LeapFrog|Serelys|Lamborghini|Tommee Tippee|Unimom|Pet Pet|Hape\xa0|MTRADE|Halilit|SG Homemade|Bema|Bebesup|Simba|Dreamgenii|ELLAS KITCHEN|Winfun|Bailey|Boony & Co|Natural|Applem|Play-Doh|Natura Siberica|Marketplace\xa0|Swisspers|Moogoo|Kirei|Anmum|Everfresh Wipes|Piccolo|Brush-Baby|Beaba|Sophie|Magna-Tiles|Kleenex|Green Earth Organic|Enfagrow|Coroku|Little Freddie|Laundrin|Follow Me|OXO TOT|Galt|Crich|Kikkoman|Nature One Dairy|oomf|Maternea|Milestone|Ferrari|Botany Naturals Baby|OJI|Babylove|Bitatto|MISE EN SCENE|FIsher Price|Osann|Mama Lemon|Lactogrow|OWEN BABY|Food People|Olive|Skip hop|Kendamil|One Sunny|Spring Maternity|Seventh G|Under The Nile|Upang|Diono|Fresco Nutrition|Baby Natura|Childs Farm|L'Oreal|Sophie The Giraffe|Calbee|Fairprice Gold|Cloversoft|Lansinoh|Biokleen|Greenday Snacks|Abbott Similac|Rafferty'S Garden|Kidario|Comotomo|Take One|Play N Learn|Aquato\xa0|Goo.N|Nature's Care|inomata Japan|Similac|MILTON|Sanada Seiko Japan|Desitin|Keter)"

In [108]:
brand_col = []
for i in all_fp_tkb.index:
    try:
        brand_col.append(re.search(brand_regex,all_fp_tkb.name[i]).group(1))
    except:
        brand_col.append("None")
all_fp_tkb["brand"] = brand_col

In [109]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category,brand
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears

In [110]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)

double checking with excel, there were some brands missing from my regex so I fixed them manually *sigh*

In [111]:
all_fp_tkb = pd.read_excel("all_fp_tkb.xlsx")

In [112]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category,brand
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears

In [116]:
all_fp_tkb["price_before_discount"] = all_fp_tkb["price_before_discount"].apply(lambda x : str(x))
all_fp_tkb["price_before_discount"] = all_fp_tkb["price_before_discount"].apply(lambda x : x.replace("NO DISCOUNT/PROMOTION","0"))
all_fp_tkb["price_before_discount"] = all_fp_tkb["price_before_discount"].apply(lambda x : float(x))

In [117]:
all_fp_tkb.head(20)

,price,price_before_discount,name,size,special_requirement,sub_category,brand
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
5,17.91,19.9,Shears Blanket in Gift Box Baby Blanket Blue B...,1 X 1S,-,baby-clothing,Shears
6,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Pink ...,1 X 1S,-,baby-clothing,Shears
7,17.91,19.9,Shears Blanket in Gift Box Baby Blanket Pink B...,1 X 1S,-,baby-clothing,Shears
8,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy G...,1 X 1S,-,baby-clothing,Shears
9,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Brown...,1 X 1S,-,baby-clothing,Shears
10,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Blue ...,1 X 1S,-,baby-clothing,Shears
11,15.21,16.9,Shears Blanket Basic Baby Blanket Pink Floral ...,1 X 1S,-,baby-clothing,Shears
12,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Grey ...,1 X 1S,-,baby-clothing,Shears
13,24.96,31.2,ToddlerFinest 3-Pack Baby Cotton Swaddle Blank...,1 Pc,-,baby-clothing,ToddlerFinest
14,18.90,0.0,Shears Amour Gift Set 4 PCS Gift Set White Clo...,1 X 1S,-,baby-clothing,Shears
15,19.90,0.0,Shears PullString Edward the Elephant Musical ...,1 X 200G,-,baby-clothing,Shears
16,7.90,0.0,Shears Animal Squeaker Toy Rachel the Rabbit SQRR,16 CM,-,baby-clothing,Shears
17,19.90,0.0,Shears Baby Swaddle 2 Pcs Cotton Swaddle Blue ...,1 X 1S,-,baby-clothing,Shears
18,18.90,0.0,Shears Amour Gift Set 4 PCS Gift Set Grey Yell...,1 X 1S,-,baby-clothing,Shears
19,29.90,0.0,Shears Muji Gift Set 4 PCS Gift Set Cloud Set ...,1 X 24CM,-,baby-clothing,Shears

In [122]:
price_for_comparison = []

for i in all_fp_tkb.index:
    if all_fp_tkb["price"][i] < all_fp_tkb["price_before_discount"][i]:
        price_for_comparison.append(all_fp_tkb["price_before_discount"][i])
    else:
        price_for_comparison.append(all_fp_tkb["price"][i])

price_for_comparison[:20]

[24.9,
 16.9,
 29.9,
 29.9,
 29.9,
 19.9,
 29.0,
 19.9,
 24.9,
 29.0,
 29.0,
 16.9,
 29.0,
 31.2,
 18.9,
 19.9,
 7.9,
 19.9,
 18.9,
 29.9]

In [123]:
all_fp_tkb["price_for_comparison"] = price_for_comparison

In [126]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category,brand,price_for_comparison
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears,24.9
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears,16.9
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears,29.9
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears,29.9
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears,29.9

In [129]:
all_fp_tkb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price                  5200 non-null   float64
 1   price_before_discount  5200 non-null   float64
 2   name                   5200 non-null   object
 3   size                   5200 non-null   object
 4   special_requirement    5200 non-null   object
 5   sub_category           5200 non-null   object
 6   brand                  5200 non-null   object
 7   price_for_comparison   5200 non-null   float64
dtypes: float64(3), object(5)
memory usage: 325.1+ KB

In [130]:
all_fp_tkb.drop(["price","price_before_discount"],axis=1)
new_cols = ["price_for_comparison","name","size","special_requirement","brand","sub_category"]
all_fp_tkb = all_fp_tkb[new_cols]
all_fp_tkb.head()

,price_for_comparison,name,size,special_requirement,brand,sub_category
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,Shears,baby-clothing
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,Shears,baby-clothing
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,Shears,baby-clothing
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,Shears,baby-clothing
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,Shears,baby-clothing

In [134]:
all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: str(x).lower())
all_fp_tkb.head()

<ipython-input-134-6fc085d2002f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: str(x).lower())

,price_for_comparison,name,size,special_requirement,brand,sub_category
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 x 1s,-,Shears,baby-clothing
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 x 1s,-,Shears,baby-clothing
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 x 1s,-,Shears,baby-clothing
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 x 1s,-,Shears,baby-clothing
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 x 1s,-,Shears,baby-clothing

Now this part is tricky because there are many different ways the size column is recorded in. Examples:
* 3 x 400ml
* 4 x 500g
* 6 x 0.11kg
* 200ml
* 350g

I need to get cost per 10grams, 10ml etc for comparison so I think I'll regex extract the words from size column to one column and digits to another column. But not all products needs to have this calculated(clothes, etc) so will need to find sub cats that need this treatment.

Looked over the file in excel to identify what needs to be calculated. Sometimes it's just so much easier to use excel.

In [136]:
subcats_to_calculate = ["baby-food","baby-toiletries","nursing-feeding","diapers","baby-laundry","milk-powder","infant-formula"]

In [137]:
all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: x.replace(" ",""))

<ipython-input-137-bfb88b99b9b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: x.replace(" ",""))

In [139]:
all_fp_tkb["qty"] = all_fp_tkb["size"].apply(lambda x: x.split("x")[0])
all_fp_tkb

<ipython-input-139-5e45d1fe39b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["qty"] = all_fp_tkb["size"].apply(lambda x: x.split("x")[0])

,price_for_comparison,name,size,special_requirement,brand,sub_category,qty
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,1
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,1
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1
...,...,...,...,...,...,...,...
5195,2.5,WINNER Non-Sterile Cotton Ball,100pc,-,WINNER,baby-toiletries,100pc
5196,9.9,Wooden Animal Habitats,1pc,-,VIP,toys,1pc
5197,12.8,Wooden Domino Game - Fruits,1pc,-,VIP,toys,1pc
5198,12.8,Wooden Domino Game - Insects,1pc,-,VIP,toys,1pc
5199,29.8,Wooden Magnetic Chinese Character Building Set,1pc,-,VIP,toys,1pc

In [152]:
amounts = []
units = []
for i in all_fp_tkb.index:
    temp_list = all_fp_tkb["size"][i].split("x")
    try:
        amount = re.sub('\D','',temp_list[1])
        unit = re.sub('\d','',temp_list[1])
        amounts.append(amount)
        units.append(unit)
    except:
        amounts.append(1)
        units.append("-")
all_fp_tkb["amounts"] = amounts
all_fp_tkb["units"] = units

In [153]:
all_fp_tkb

,price_for_comparison,name,size,special_requirement,brand,sub_category,qty,amounts,units
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,1,1,s
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,1,1,s
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1,1,s
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1,1,s
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1,1,s
...,...,...,...,...,...,...,...,...,...
5195,2.5,WINNER Non-Sterile Cotton Ball,100pc,-,WINNER,baby-toiletries,100pc,1,-
5196,9.9,Wooden Animal Habitats,1pc,-,VIP,toys,1pc,1,-
5197,12.8,Wooden Domino Game - Fruits,1pc,-,VIP,toys,1pc,1,-
5198,12.8,Wooden Domino Game - Insects,1pc,-,VIP,toys,1pc,1,-
5199,29.8,Wooden Magnetic Chinese Character Building Set,1pc,-,VIP,toys,1pc,1,-

In [155]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)
#saving to excel just in case

In [156]:
for i in all_fp_tkb.index:
    if all_fp_tkb["amounts"][i] == 1 and all_fp_tkb["units"][i] == "-":
        all_fp_tkb["qty"][i] = re.sub('\D','',all_fp_tkb["size"][i])
        all_fp_tkb["units"][i] = re.sub('\d','',all_fp_tkb["qty"][i])

<ipython-input-156-c2ac7e63d413>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["units"][i] = re.sub('\d','',all_fp_tkb["qty"][i])
<ipython-input-156-c2ac7e63d413>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["qty"][i] = re.sub('\D','',all_fp_tkb["size"][i])

In [157]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)

In [158]:
#nope messed up need to do it again
all_fp_tkb = pd.read_excel("all_fp_tkb.xlsx")

In [160]:
all_fp_tkb["units"] = all_fp_tkb["size"].apply(lambda x: re.sub('\d','',x))

In [162]:
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace("x",""))
all_fp_tkb.head()

,price_for_comparison,name,size,special_requirement,brand,sub_category,units
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,s
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,s
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s

In [177]:
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace(".",""))

In [178]:
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace("(ctn)",""))
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace("ea",""))

In [179]:
amounts = []
qty = []

for i in all_fp_tkb.index:
    temp = all_fp_tkb["size"][i].replace(all_fp_tkb["units"][i],"").split("x")
    try:
        amounts.append(temp[1])
        qty.append(temp[0])
        
    except:
        amounts.append(temp[0])
        qty.append(1)
        

all_fp_tkb["qty"] = qty
all_fp_tkb["amounts"] = amounts

In [180]:
all_fp_tkb

,price_for_comparison,name,size,special_requirement,brand,sub_category,units,qty,amounts
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,s,1,1
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,s,1,1
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s,1,1
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s,1,1
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s,1,1
...,...,...,...,...,...,...,...,...,...
5195,2.5,WINNER Non-Sterile Cotton Ball,100pc,-,WINNER,baby-toiletries,pc,1,100
5196,9.9,Wooden Animal Habitats,1pc,-,VIP,toys,pc,1,1
5197,12.8,Wooden Domino Game - Fruits,1pc,-,VIP,toys,pc,1,1
5198,12.8,Wooden Domino Game - Insects,1pc,-,VIP,toys,pc,1,1
5199,29.8,Wooden Magnetic Chinese Character Building Set,1pc,-,VIP,toys,pc,1,1

In [181]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)

214 cases I couldn't clean with python will use excel, I could figure out how to do it in python but I think I'll do it in excel since I want to sleep. The weird cases were products with freebies attached to them. I read that R was better for data cleaning so maybe give R a peek? Shit I'm only on the first dataset and it took this long. I hope cleaning the other datasets are much much easier. The first ones always is the hardest....

# Extracting brand names from products

In [1]:
import spacy
nlp = spacy.load('en_core_web_sm')

# Import the displaCy library
from spacy import displacy

In [2]:
def show_ents(doc):
    if doc.ents:
        for ent in doc.ents:
            print(ent.text+' - '+ent.label_+' - '+str(spacy.explain(ent.label_)))
    else:
        print('No named entities found.')

In [5]:
doc = nlp(u'Uratex Mickey Mouse Sit and Sleep Convertible Bed')
show_ents(doc)

Mickey Mouse Sit - PERSON - People, including fictional
Sleep Convertible Bed - WORK_OF_ART - Titles of books, songs, etc.

### doesn't work so I did it manually.....
#### google search also showed that this is not as easy as it seems

# INDONESIA - HYPERMART CLEANING

In [19]:
hypermart_raw = pd.read_excel("hypermart_tkb_products.xlsx",sheet_name="Sheet2")
hypermart_brands = pd.read_excel("hypermart_tkb_products.xlsx",sheet_name="Sheet4")

In [5]:
hypermart_raw.head()

,promotion_type,promotion_detail,sub_category,name,price,price_before_discount,main_category
0,NO DISCOUNT,NO PROMOTION,BABY ACCESSORIES,PIGEON PP WIDE NECK 240ML W/ P-TYPE SILICONE N...,148.90,148.90,NEEDS OF BABIES
1,NO DISCOUNT,NO PROMOTION,BABY TOYS,BABY KLAS BABY TOY BATH SET DUCK RED LIPS 0517,52.90,52.90,NEEDS OF BABIES
2,NO DISCOUNT,NO PROMOTION,TISSU FOR BABIES,MAMY POKO B. WPS N.ALCHL PARF 52'S EC,11.29,11.29,NEEDS OF BABIES
3,Disc,2.7,TISSU FOR BABIES,MAMY POKO B WPS AS NP 48'S PAKET 2,15.60,18.30,NEEDS OF BABIES
4,Disc,2.7,TISSU FOR BABIES,MAMY POKO B WPS EC NP 52'S PAKET 2,15.60,18.30,NEEDS OF BABIES

In [6]:
hypermart_brands.head()

        Brand Count
0        MITU     2
1       ANMUM     5
2       B & B     4
3  Baby Happy     6
4   Baby Klas     2

In [20]:
hm_brand_list = list(set([str(i).lower() for i in hypermart_brands.Brand]))
hm_brand_list[:5]

['eskulin', 's26', 'frisomum', 'sun', 'johnson']

In [9]:
hm_copy = hypermart_raw.copy()

In [12]:
hm_copy = hm_copy.drop(["promotion_type","promotion_detail","price"],axis=1)
hm_copy.head()

,sub_category,name,price_before_discount,main_category
0,BABY ACCESSORIES,PIGEON PP WIDE NECK 240ML W/ P-TYPE SILICONE N...,148.90,NEEDS OF BABIES
1,BABY TOYS,BABY KLAS BABY TOY BATH SET DUCK RED LIPS 0517,52.90,NEEDS OF BABIES
2,TISSU FOR BABIES,MAMY POKO B. WPS N.ALCHL PARF 52'S EC,11.29,NEEDS OF BABIES
3,TISSU FOR BABIES,MAMY POKO B WPS AS NP 48'S PAKET 2,18.30,NEEDS OF BABIES
4,TISSU FOR BABIES,MAMY POKO B WPS EC NP 52'S PAKET 2,18.30,NEEDS OF BABIES

In [14]:
new_cols = ["name","price_before_discount","main_category","sub_category"]
hm_copy = hm_copy[new_cols]
hm_copy.columns = ['name','price','main_category','sub_category']
hm_copy.head()

,name,price,main_category,sub_category
0,PIGEON PP WIDE NECK 240ML W/ P-TYPE SILICONE N...,148.90,NEEDS OF BABIES,BABY ACCESSORIES
1,BABY KLAS BABY TOY BATH SET DUCK RED LIPS 0517,52.90,NEEDS OF BABIES,BABY TOYS
2,MAMY POKO B. WPS N.ALCHL PARF 52'S EC,11.29,NEEDS OF BABIES,TISSU FOR BABIES
3,MAMY POKO B WPS AS NP 48'S PAKET 2,18.30,NEEDS OF BABIES,TISSU FOR BABIES
4,MAMY POKO B WPS EC NP 52'S PAKET 2,18.30,NEEDS OF BABIES,TISSU FOR BABIES

In [23]:
hm_brand_regex = "(" + "|".join(hm_brand_list) + ")"
brand_col = []
for i in hm_copy.index:
    try:
        brand_col.append(re.search(hm_brand_regex,hm_copy.name[i].lower()).group(1))
    except:
        brand_col.append("None")
hm_copy["brand"] = brand_col
hm_copy.head()

,name,price,main_category,sub_category,brand
0,PIGEON PP WIDE NECK 240ML W/ P-TYPE SILICONE N...,148.90,NEEDS OF BABIES,BABY ACCESSORIES,pigeon
1,BABY KLAS BABY TOY BATH SET DUCK RED LIPS 0517,52.90,NEEDS OF BABIES,BABY TOYS,baby klas
2,MAMY POKO B. WPS N.ALCHL PARF 52'S EC,11.29,NEEDS OF BABIES,TISSU FOR BABIES,mamy poko
3,MAMY POKO B WPS AS NP 48'S PAKET 2,18.30,NEEDS OF BABIES,TISSU FOR BABIES,mamy poko
4,MAMY POKO B WPS EC NP 52'S PAKET 2,18.30,NEEDS OF BABIES,TISSU FOR BABIES,mamy poko

In [24]:
hm_copy.to_excel("hm_test.xlsx",index=False)

some brands weren't extracted properly so fixed a few, only 10 ish or so

In [25]:
hm_copy = pd.read_excel("hm_test.xlsx")

In [26]:
hm_copy.name = hm_copy.name.apply(lambda x: x.lower().title())
hm_copy.main_category = hm_copy.main_category.apply(lambda x: x.lower().title())
hm_copy.sub_category = hm_copy.sub_category.apply(lambda x: x.lower().title())
hm_copy.brand = hm_copy.brand.apply(lambda x: x.lower().title())
hm_copy.head()

,name,price,main_category,sub_category,brand
0,Pigeon Pp Wide Neck 240Ml W/ P-Type Silicone N...,148.90,Needs Of Babies,Baby Accessories,Pigeon
1,Baby Klas Baby Toy Bath Set Duck Red Lips 0517,52.90,Needs Of Babies,Baby Toys,Baby Klas
2,Mamy Poko B. Wps N.Alchl Parf 52'S Ec,11.29,Needs Of Babies,Tissu For Babies,Mamy Poko
3,Mamy Poko B Wps As Np 48'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko
4,Mamy Poko B Wps Ec Np 52'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko

Now I need to make a regex to extract all the amounts and quantities. Hopefully since I've already sorta did this for fair price this will be easier idk why it took me so damn long to figure out how to do the same for SG when the amount and quantity were so conveniently placed in a column smh I'm dumb

In [28]:
hm_copy.to_excel("hm_test.xlsx",index=False)

In [29]:
hm_copy = pd.read_excel("hm_test.xlsx")

In [44]:
size_regex = r"([0-9]{1,2}(pcs)?(x))?([0-9]{1,4}((ml)|(gr)|(kg)|(g)|('s)|(pcs)))(([0-9]{1,2})?(\+)[0-9]{1,2})?(1\+1)?"
size_col = []
for i in hm_copy.index:
    try:
        size_col.append(re.search(size_regex,hm_copy.name[i].lower().replace(" ","")).group(0))
    except:
        size_col.append("None")
hm_copy["size"] = size_col
hm_copy.head()

,name,price,main_category,sub_category,brand,size
0,Pigeon Pp Wide Neck 240Ml W/ P-Type Silicone N...,148.90,Needs Of Babies,Baby Accessories,Pigeon,240ml
1,Baby Klas Baby Toy Bath Set Duck Red Lips 0517,52.90,Needs Of Babies,Baby Toys,Baby Klas,None
2,Mamy Poko B. Wps N.Alchl Parf 52'S Ec,11.29,Needs Of Babies,Tissu For Babies,Mamy Poko,52's
3,Mamy Poko B Wps As Np 48'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,48's
4,Mamy Poko B Wps Ec Np 52'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,52's

In [45]:
hm_copy.to_excel("hm_test.xlsx",index=False)

In [60]:
#had to fix about 15 incorrect cases so overall not too bad > forgot to take into account of decimals for kilograms
hm_copy = pd.read_excel("hm_test.xlsx")

In [61]:
hm_copy.head()

,name,price,main_category,sub_category,brand,size
0,Pigeon Pp Wide Neck 240Ml W/ P-Type Silicone N...,148.90,Needs Of Babies,Baby Accessories,Pigeon,240ml
1,Baby Klas Baby Toy Bath Set Duck Red Lips 0517,52.90,Needs Of Babies,Baby Toys,Baby Klas,None
2,Mamy Poko B. Wps N.Alchl Parf 52'S Ec,11.29,Needs Of Babies,Tissu For Babies,Mamy Poko,52's
3,Mamy Poko B Wps As Np 48'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,48's
4,Mamy Poko B Wps Ec Np 52'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,52's

#### I kinda am noticing that I'm reusing a lot of code and it would be more efficient to write functions, I think I'll write functions when the entire process ends so that I know all the modifications I need to make to make the functions modular/reusable

In [63]:
hm_copy["size"] = hm_copy["size"].apply(lambda x: x.replace("'s","pcs"))
hm_copy["size"] = hm_copy["size"].apply(lambda x: x.replace("gr","g"))

In [67]:
hm_copy["units"] = hm_copy["size"].apply(lambda x: re.sub('\d+','',x))

In [68]:
hm_copy.head()

,name,price,main_category,sub_category,brand,size,units
0,Pigeon Pp Wide Neck 240Ml W/ P-Type Silicone N...,148.90,Needs Of Babies,Baby Accessories,Pigeon,240ml,ml
1,Baby Klas Baby Toy Bath Set Duck Red Lips 0517,52.90,Needs Of Babies,Baby Toys,Baby Klas,None,None
2,Mamy Poko B. Wps N.Alchl Parf 52'S Ec,11.29,Needs Of Babies,Tissu For Babies,Mamy Poko,52pcs,pcs
3,Mamy Poko B Wps As Np 48'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,48pcs,pcs
4,Mamy Poko B Wps Ec Np 52'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,52pcs,pcs

In [72]:
hm_copy["qty"] = 1
hm_copy["amounts"] = hm_copy["size"].apply(lambda x: re.sub('[a-z]+','',str(x)))
hm_copy.head()

,name,price,main_category,sub_category,brand,size,units,qty,amounts
0,Pigeon Pp Wide Neck 240Ml W/ P-Type Silicone N...,148.90,Needs Of Babies,Baby Accessories,Pigeon,240ml,ml,1,240
1,Baby Klas Baby Toy Bath Set Duck Red Lips 0517,52.90,Needs Of Babies,Baby Toys,Baby Klas,None,None,1,N
2,Mamy Poko B. Wps N.Alchl Parf 52'S Ec,11.29,Needs Of Babies,Tissu For Babies,Mamy Poko,52pcs,pcs,1,52
3,Mamy Poko B Wps As Np 48'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,48pcs,pcs,1,48
4,Mamy Poko B Wps Ec Np 52'S Paket 2,18.30,Needs Of Babies,Tissu For Babies,Mamy Poko,52pcs,pcs,1,52

In [73]:
hm_copy.to_excel("hm_test.xlsx",index=False)

In [74]:
#fixed about 10 incorrect cases > If I weren't too pressed for time I'd do a less sloppy job but I got 3 more data sets to clean
hm_copy = pd.read_excel("hm_test.xlsx")
hm_copy.to_excel("all_hm_tkb_cleaned.xlsx")

# The Malaysian and Philippines Data is from company database so will do cleaning in some other file and copy the code over but not run it here

In [ ]:
import pandas as pd
import glob
import os
import re

# MALAYSIA - MYDIN CLEANING

In [ ]:
mydin_raw = pd.read_excel("my_tkb_mydin_products.xlsx")

In [ ]:
mydin_raw.head()

In [ ]:
mydin_copy = mydin_raw.copy()

In [ ]:
mydin_copy = mydin_copy.drop(["a bunch of columns"],axis=1)

In [ ]:
mydin_copy.head()

In [ ]:
size_regex = r"(\d{1,2}(x))?((\d+.)?\d{1,4}((ml)|(gr)|(kg)|(g)|(l)|('s)|(pcs)|(s)))((x|\+)\d{1,2})?"
size_col = []
for i in mydin_copy.index:
    try:
        size_col.append(re.search(size_regex,mydin_copy.item_name[i].lower().replace(" ","")).group(0))
    except:
        size_col.append("None")
mydin_copy["size"] = size_col
mydin_copy.head()

In [ ]:
mydin_copy.to_excel("mydin_test.xlsx",index=False)

In [ ]:
mydin_copy = pd.read_excel("mydin_test.xlsx")

In [ ]:
mydin_copy.head()

In [ ]:
mydin_copy["units"] = mydin_copy["size"].apply(lambda x: re.sub('\d+','',x))

In [ ]:
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace('.',''))
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace('x',''))

In [ ]:
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace('-',''))
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace('+',''))
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace('"',''))
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace("'s",'pcs'))
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace("gr",'g'))

In [ ]:
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace("s",'pcs'))
mydin_copy["size"] = mydin_copy["size"].apply(lambda x: x.replace("'s",'pcs'))

In [ ]:
mydin_copy["units"] = mydin_copy["units"].apply(lambda x: x.replace("pcpcs",'pcs'))

In [ ]:
mydin_copy.head()

In [ ]:
mydin_copy.to_excel("mydin_test.xlsx",index=False)

In [ ]:
mydin_copy = pd.read_excel("mydin_test.xlsx")

In [ ]:
mydin_copy["size"] = mydin_copy["size"].apply(lambda x: x.replace('s','pcs'))
mydin_copy["size"] = mydin_copy["size"].apply(lambda x: x.replace('pcpcs','pcs'))

In [ ]:
re.search("\d+",split[0]).group(0)

In [ ]:
amounts = []
qty = []
units = ["kg","g","ml","l","pcs"]
for i in mydin_copy.index:
    nums_only = mydin_copy["size"][i].replace(mydin_copy["units"][i],"")
    if "x" in nums_only:
        split = mydin_copy["size"][i].split("x")
        if any(unit in split[0] for unit in units):
            qty.append(float(split[1]))
            amounts.append(float(re.search("\d.\d|\d+",split[0]).group(0)))
        elif any(unit in split[1] for unit in units):
            qty.append(float(split[0]))
            amounts.append(float(re.search("\d.\d|\d+",split[1]).group(0)))
    elif "+" in nums_only:
        nums = nums_only.split("+")
        qty.append(1)
        amounts.append(float(nums[0])+float(nums[1]))
    else:
        qty.append(1)
        try:
            amounts.append(float(nums_only))
        except:
            amounts.append("None")
            
mydin_copy["qty"] = qty
mydin_copy["amounts"] = amounts
mydin_copy.to_excel("mydin_test.xlsx",index=False)

# PHILIPPINES - SM STORE CLEANING
### same as above tbh so skip over if you're reading

In [ ]:
sm_store_raw = pd.read_excel("ph_tkb_sm_store_products.xlsx")

In [ ]:
sm_store_copy = sm_store_raw.copy()

In [ ]:
sm_store_copy.info()

In [ ]:
sm_store_copy = sm_store_copy.drop(["a bunch of columns"],axis=1)

In [ ]:
size_regex = r"(\d{1,2}(x))?((\d+.)?\d{1,4}((ml)|(gr)|(kg)|(g)|(l)|('s)|(pcs)|(s)))((x|\+)\d{1,2})?"
size_col = []
for i in sm_store_copy.index:
    try:
        size_col.append(re.search(size_regex,sm_store_copy["item_name"][i].lower().replace(" ","")).group(0))
    except:
        size_col.append("None")
sm_store_copy["size"] = size_col
sm_store_copy.head()

In [ ]:
sm_store_copy.to_excel("sm_store_test.xlsx",index=False)

In [ ]:
sm_store_copy = pd.read_excel("sm_store_test.xlsx")

In [ ]:
sm_store_copy["size"] = sm_store_copy["size"].apply(lambda x: x.replace("s","pcs"))
sm_store_copy["size"] = sm_store_copy["size"].apply(lambda x: x.replace("pcpcs","pcs"))
sm_store_copy["size"] = sm_store_copy["size"].apply(lambda x: x.replace("xpcs","sqm"))

In [ ]:
sm_store_copy["units"] = sm_store_copy["size"].apply(lambda x: re.sub('\d+','',x))

In [ ]:
sm_store_copy.to_excel("sm_store_test.xlsx",index=False)

In [ ]:
sm_store_copy = pd.read_excel("sm_store_test.xlsx")

In [ ]:
sm_store_copy["units"] = sm_store_copy["units"].apply(lambda x: x.replace(".",""))
sm_store_copy["units"] = sm_store_copy["units"].apply(lambda x: x.replace("gr","g"))
sm_store_copy["size"] = sm_store_copy["size"].apply(lambda x: x.replace("gr","g"))

In [ ]:
sm_store_copy.to_excel("sm_store_test.xlsx",index=False)

In [ ]:
amounts = []
qty = []
units = ["kg","g","ml","l","pcs","sqm"]
for i in sm_store_copy.index:
    nums_only = sm_store_copy["size"][i].replace(sm_store_copy["units"][i],"")
    if "x" in nums_only:
        split = sm_store_copy["size"][i].split("x")
        if any(unit in split[0] for unit in units):
            qty.append(float(split[1]))
            amounts.append(float(re.search("\d.\d|\d+",split[0]).group(0)))
        elif any(unit in split[1] for unit in units):
            qty.append(float(split[0]))
            amounts.append(float(re.search("\d.\d|\d+",split[1]).group(0)))
    elif "+" in nums_only:
        nums = nums_only.split("+")
        qty.append(1)
        amounts.append(float(nums[0])+float(nums[1]))
    else:
        qty.append(1)
        try:
            amounts.append(float(nums_only))
        except:
            amounts.append("None")
            
sm_store_copy["qty"] = qty
sm_store_copy["amounts"] = amounts
sm_store_copy.to_excel("sm_store_copy.xlsx",index=False)

# S.KOREA - DANAWA CLEANING

## this is a big chonky boi(relatively to the other online shops) so I hope this goes smoothly

In [3]:
path2 = r"C:\Users\Jaeyoon Cho\Desktop\Hobby stuff\scripts\TKB\kr_danawa"

In [4]:
filepaths = glob.glob(path+"/*.xlsx")
filepaths

['C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_가방-미아방지용품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_국내기저귀_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_국내분유_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_기저귀용품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_너프건-스포츠완구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_놀이방매트-안전_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_디럭스유모차_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_레고-블록_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_로봇-자동차-팽이인기메뉴_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_물티슈인기메뉴_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_산양-특수분유_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_수유용품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_수입기저귀_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_수입분유_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_신생아-영유아완구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_신생아카시트_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_실내대형완구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_쌍둥이-삼륜유모차신규메뉴_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_아기띠-힙시트_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_역할놀이-소꿉놀이_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_영유아용카시트인기메뉴_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_유모차+카시트 세트_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_유모차-카시트소품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_유아가구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_유아변기-위생용품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_유아욕조-목욕용품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_유아웨건_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_음악-미술완구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_이유식_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_이유식용품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_인형_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_절충형유모차_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_젖병-젖꼭지-소독기_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_젖병-젖꼭지_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_젖병소독기-유축기_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_주니어용카시트_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_책가방-신발주머니인기메뉴_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_출산-신생아용품_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_캐릭터별완구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_코딩완구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_킥보드-승용완구신규메뉴_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_학습-과학완구_result.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\kr_danawa\\danawa_휴대용유모차_result.xlsx']

In [12]:
filepaths[0].split("\\")[-1].split("_")[1]

'가방-미아방지용품'

In [13]:
dnw_sub_cats = [i.split("\\")[-1].split("_")[1] for i in filepaths]

In [14]:
data = []

In [16]:
for i in range(len(filepaths)):
    frame = pd.read_excel(filepaths[i])
    frame['sub_category'] = dnw_sub_cats[i]
    data.append(frame)
    df = pd.concat(data)

In [17]:
df.to_excel("kr_dnw_tkb.xlsx",index=False)

In [20]:
kr_dnw_tkb = pd.read_excel("kr_dnw_tkb.xlsx")

In [21]:
kr_dnw_tkb.head()

,name,details,amount,price,sub_category
0,오뜨 미니언즈 케빈미아방지백팩,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 재질:...",|1위|핑크|,24420,가방-미아방지용품
1,파코라반베이비 포브 에그백 미아방지가방,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 캐릭터:펭귄",|1위|핑크|,35490,가방-미아방지용품
2,윙하우스 크롱 미아방지배낭 (PR0193),"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 중량:...",|1위|핑크|,22100,가방-미아방지용품
3,윙하우스 뽀로로 미아방지 배낭 PR089,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 크기(가로x세로x폭)...",|1위|핑크|,20500,가방-미아방지용품
4,제이에스티나 Crchio Forma Di Lusso 목걸이 JJK1NQ5AS001S...,목걸이 / 유아용 / 실버 / 펜던트목걸이 / 이니셜목걸이 / 길이: 34cm / ...,|1위|핑크|,117000,가방-미아방지용품

In [51]:
dnw_copy = kr_dnw_tkb.copy()

In [18]:
dnw_tkb_brands = pd.read_excel("dnw_tkb_brands.xlsx")

In [19]:
dnw_tkb_brands.head()

      brands subcats
0     남양유업\t    국내분유
1     롯데푸드\t    국내분유
2     매일유업\t    국내분유
3     베비언스\t    국내분유
4      아기밀\t    국내분유

In [30]:
dnw_tkb_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12432 entries, 0 to 12431
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   brands   12432 non-null  object
 1   subcats  12432 non-null  object
dtypes: object(2)
memory usage: 194.4+ KB

In [24]:
dnw_brand_list = []
for i in dnw_tkb_brands.index:
    dnw_brand_list.append(dnw_tkb_brands["brands"][i].replace("\t",""))

In [27]:
dnw_brand_list = [re.sub("\s+","",i) for i in dnw_brand_list]

In [29]:
dnw_brand_list = list(set(dnw_brand_list))
len(dnw_brand_list)

3786

In [52]:
dnw_brand_regex = "(" + "|".join(dnw_brand_list) + ")"
brand_col = []
for i in dnw_copy.index:
    try:
        brand_col.append(re.search(dnw_brand_regex,dnw_copy.name[i].lower()).group(1))
    except:
        brand_col.append("None")
dnw_copy["brand"] = brand_col
dnw_copy.head()

,name,details,amount,price,sub_category,brand
0,오뜨 미니언즈 케빈미아방지백팩,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 재질:...",|1위|핑크|,24420,가방-미아방지용품,오뜨
1,파코라반베이비 포브 에그백 미아방지가방,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 캐릭터:펭귄",|1위|핑크|,35490,가방-미아방지용품,파코라반베이비
2,윙하우스 크롱 미아방지배낭 (PR0193),"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 중량:...",|1위|핑크|,22100,가방-미아방지용품,윙하우스
3,윙하우스 뽀로로 미아방지 배낭 PR089,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 크기(가로x세로x폭)...",|1위|핑크|,20500,가방-미아방지용품,윙하우스
4,제이에스티나 Crchio Forma Di Lusso 목걸이 JJK1NQ5AS001S...,목걸이 / 유아용 / 실버 / 펜던트목걸이 / 이니셜목걸이 / 길이: 34cm / ...,|1위|핑크|,117000,가방-미아방지용품,제이에스

In [33]:
dnw_copy.to_excel("dnw_test.xlsx",index=False)

In [36]:
dnw_copy = pd.read_excel("dnw_test.xlsx")

In [53]:
dnw_copy["amount"] = dnw_copy["amount"].apply(lambda x: x.replace("|",","))
dnw_copy.head()

,name,details,amount,price,sub_category,brand
0,오뜨 미니언즈 케빈미아방지백팩,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 재질:...",",1위,핑크,",24420,가방-미아방지용품,오뜨
1,파코라반베이비 포브 에그백 미아방지가방,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 캐릭터:펭귄",",1위,핑크,",35490,가방-미아방지용품,파코라반베이비
2,윙하우스 크롱 미아방지배낭 (PR0193),"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 중량:...",",1위,핑크,",22100,가방-미아방지용품,윙하우스
3,윙하우스 뽀로로 미아방지 배낭 PR089,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 크기(가로x세로x폭)...",",1위,핑크,",20500,가방-미아방지용품,윙하우스
4,제이에스티나 Crchio Forma Di Lusso 목걸이 JJK1NQ5AS001S...,목걸이 / 유아용 / 실버 / 펜던트목걸이 / 이니셜목걸이 / 길이: 34cm / ...,",1위,핑크,",117000,가방-미아방지용품,제이에스

In [54]:
dnw_copy["amount"] = dnw_copy["amount"].apply(lambda x: x.replace("1위",""))
dnw_copy["amount"] = dnw_copy["amount"].apply(lambda x: re.sub(",{2,}",",",x))
dnw_copy["amount"] = dnw_copy["amount"].apply(lambda x: re.sub("^,*","",x))
dnw_copy["amount"] = dnw_copy["amount"].apply(lambda x: re.sub(",*$","",x))

In [55]:
dnw_copy

,name,details,amount,price,sub_category,brand
0,오뜨 미니언즈 케빈미아방지백팩,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 재질:...",핑크,24420,가방-미아방지용품,오뜨
1,파코라반베이비 포브 에그백 미아방지가방,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 캐릭터:펭귄",핑크,35490,가방-미아방지용품,파코라반베이비
2,윙하우스 크롱 미아방지배낭 (PR0193),"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 중량:...",핑크,22100,가방-미아방지용품,윙하우스
3,윙하우스 뽀로로 미아방지 배낭 PR089,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 크기(가로x세로x폭)...",핑크,20500,가방-미아방지용품,윙하우스
4,제이에스티나 Crchio Forma Di Lusso 목걸이 JJK1NQ5AS001S...,목걸이 / 유아용 / 실버 / 펜던트목걸이 / 이니셜목걸이 / 길이: 34cm / ...,핑크,117000,가방-미아방지용품,제이에스
...,...,...,...,...,...,...
42215,해피랜드F&C 파코라반베이비 발코 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / [기능] 안전가드분리 / 발받침조절 / ...,그레이,일시품절,휴대용유모차,해피랜드
42216,GB 히어로 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / [기능] 서스펜션 / 안전가드분리 / [...,그레이,234380,휴대용유모차,None
42217,치코 C6 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / 차양막 / [사양] 유모차무게: 4.9kg,그레이,89010,휴대용유모차,치코
42218,톰비 GTX 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / 등받이각도조절: 170 / 차양막 / [...,그레이,69797,휴대용유모차,톰비
42219,bgIzWA6rKT,bgIzWA6rKT600154,그레이,600154,휴대용유모차,None

In [56]:
dnw_copy.to_excel("dnw_test.xlsx",index=False)

In [66]:
hangul = re.compile('[0-9]+[ㄱ-ㅣ가-힣a-zA-Z]+\/[0-9]+[ㄱ-ㅣ가-힣a-zA-Z]+')
s='56원/1매,휴대 2팩, 리필 3팩'
result = hangul.search(s).group(0)
print (result)

56원/1매

In [69]:
new_cols = ["name","details","extra_details","price","sub_category","brand"]
dnw_copy.columns = new_cols
dnw_copy.head()

,name,details,extra_details,price,sub_category,brand
0,오뜨 미니언즈 케빈미아방지백팩,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 재질:...",핑크,24420,가방-미아방지용품,오뜨
1,파코라반베이비 포브 에그백 미아방지가방,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 캐릭터:펭귄",핑크,35490,가방-미아방지용품,파코라반베이비
2,윙하우스 크롱 미아방지배낭 (PR0193),"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 중량:...",핑크,22100,가방-미아방지용품,윙하우스
3,윙하우스 뽀로로 미아방지 배낭 PR089,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 크기(가로x세로x폭)...",핑크,20500,가방-미아방지용품,윙하우스
4,제이에스티나 Crchio Forma Di Lusso 목걸이 JJK1NQ5AS001S...,목걸이 / 유아용 / 실버 / 펜던트목걸이 / 이니셜목걸이 / 길이: 34cm / ...,핑크,117000,가방-미아방지용품,제이에스

# ppu = price per unit

In [74]:
ppu = []
for i in dnw_copy.index:
    temp = dnw_copy["extra_details"][i]
    try:
        ppu.append(hangul.search(temp).group(0))
    except:
        ppu.append("None")
dnw_copy["ppu"] = ppu
dnw_copy

,name,details,extra_details,price,sub_category,brand,ppu
0,오뜨 미니언즈 케빈미아방지백팩,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 재질:...",핑크,24420,가방-미아방지용품,오뜨,None
1,파코라반베이비 포브 에그백 미아방지가방,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 캐릭터:펭귄",핑크,35490,가방-미아방지용품,파코라반베이비,None
2,윙하우스 크롱 미아방지배낭 (PR0193),"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 중량:...",핑크,22100,가방-미아방지용품,윙하우스,None
3,윙하우스 뽀로로 미아방지 배낭 PR089,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 크기(가로x세로x폭)...",핑크,20500,가방-미아방지용품,윙하우스,None
4,제이에스티나 Crchio Forma Di Lusso 목걸이 JJK1NQ5AS001S...,목걸이 / 유아용 / 실버 / 펜던트목걸이 / 이니셜목걸이 / 길이: 34cm / ...,핑크,117000,가방-미아방지용품,제이에스,None
...,...,...,...,...,...,...,...
42215,해피랜드F&C 파코라반베이비 발코 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / [기능] 안전가드분리 / 발받침조절 / ...,그레이,일시품절,휴대용유모차,해피랜드,None
42216,GB 히어로 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / [기능] 서스펜션 / 안전가드분리 / [...,그레이,234380,휴대용유모차,None,None
42217,치코 C6 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / 차양막 / [사양] 유모차무게: 4.9kg,그레이,89010,휴대용유모차,치코,None
42218,톰비 GTX 휴대형 유모차,유모차 / 휴대형 / 접이식 / 5점식 / 등받이각도조절: 170 / 차양막 / [...,그레이,69797,휴대용유모차,톰비,None
42219,bgIzWA6rKT,bgIzWA6rKT600154,그레이,600154,휴대용유모차,None,None

In [75]:
dnw_copy.to_excel("dnw_test.xlsx",index=False)

In [78]:
dnw_copy["units"] = "None"
dnw_copy["qty"] = "None"
dnw_copy["amounts"] = "None"
dnw_copy.head()

,name,details,extra_details,price,sub_category,brand,ppu,units,qty,amounts
0,오뜨 미니언즈 케빈미아방지백팩,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 재질:...",핑크,24420,가방-미아방지용품,오뜨,None,None,None,None
1,파코라반베이비 포브 에그백 미아방지가방,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 캐릭터:펭귄",핑크,35490,가방-미아방지용품,파코라반베이비,None,None,None,None
2,윙하우스 크롱 미아방지배낭 (PR0193),"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 미아방지끈 / 중량:...",핑크,22100,가방-미아방지용품,윙하우스,None,None,None,None
3,윙하우스 뽀로로 미아방지 배낭 PR089,"미아방지가방 / 남아,여아공용 / 구성: 백팩, 미아방지끈 / 크기(가로x세로x폭)...",핑크,20500,가방-미아방지용품,윙하우스,None,None,None,None
4,제이에스티나 Crchio Forma Di Lusso 목걸이 JJK1NQ5AS001S...,목걸이 / 유아용 / 실버 / 펜던트목걸이 / 이니셜목걸이 / 길이: 34cm / ...,핑크,117000,가방-미아방지용품,제이에스,None,None,None,None

In [80]:
quantities = ["20매","1개","2개","1장","6개","30팩","5팩","48개","1팩","100조각","1통","1세트","15개","60개","4종","3개","4개","2팩","5개"]

In [87]:
for i in dnw_copy.index:
    for quantity in quantities:
        if quantity in dnw_copy["extra_details"][i]:
            dnw_copy["qty"][i] = int(re.sub('[ㄱ-ㅣ가-힣]+','',quantity))
            dnw_copy["units"][i] = re.sub('\d+','',quantity)

In [88]:
dnw_copy.to_excel("dnw_test.xlsx",index=False)

In [89]:
qty_regex = re.compile('((\d+.)?\d{1,4}((ml)|(gr)|(kg)|(g)|(매))')

In [102]:
for i in dnw_copy.index:
    try:
        amnt_unt = qty_regex.search(dnw_copy["name"][i]).group(0)
        dnw_copy["amounts"][i] = re.sub('[ㄱ-ㅣ가-힣A-Za-z]+','',amnt_unt)
        dnw_copy["units"][i] = re.sub('\d+','',amnt_unt)
    except:
        dnw_copy["amounts"][i] = "None"

In [103]:
dnw_copy.to_excel("dnw_test.xlsx",index=False)

In [98]:
amnt_unt = qty_regex.search("남양유업 임페리얼드림 XO 4단계 800g").group(0)

In [100]:
re.sub('[ㄱ-ㅣ가-힣A-Za-z]+','',amnt_unt)

'800'

In [101]:
re.sub('\d+','',amnt_unt)

'g'

# I think I'm done. There's some minor stuff to fix but I'll just do it in excel.