In [73]:
import pandas as pd
import glob
import os
import re

combining the files that were separated by subcategory and appending a sub category label

In [3]:
path = r"C:\Users\Jaeyoon Cho\Desktop\Hobby stuff\scripts\TKB\sg_fair_price"

In [6]:
filepaths = glob.glob(path+"/*.xlsx")
filepaths

['C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-clothing_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-food_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-furniture_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-gear_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-laundry_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-safety_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_baby-toiletries_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_diapers_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_infant-formula_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_maternity-for-moms_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_milk-powder_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_nursing-feeding_tkb.xlsx',
 'C:\\Users\\Jaeyoon Cho\\Desktop\\Hobby stuff\\scripts\\TKB\\sg_fair_price\\sg_fair_price_toys_tkb.xlsx']

In [11]:
fp_sub_cats = [i.split("\\")[-1].split("_")[-2] for i in filepaths]

In [15]:
data = []

In [17]:
for i in range(len(filepaths)):
    frame = pd.read_excel(filepaths[i])
    frame['sub_category'] = fp_sub_cats[i]
    data.append(frame)
    df = pd.concat(data)

In [18]:
df.to_excel("sg_fp_tkb.xlsx",index=False)

to do
* calculate price per unit for all products (per 10g per 10ml per piece etc)
* standardise at what price to use to calculate(before discount)
* attach a brand column that shows what brand each product is

In [79]:
fp_brands = pd.read_excel("sg_fair_price_brands.xlsx")

In [80]:
fp_brands.head()

       Brand  count         category
0  3m Scotch      1  Nursing Feeding
1        555      3  Nursing Feeding
2       Algo      1  Nursing Feeding
3        Als      1  Nursing Feeding
4      Amark      5  Nursing Feeding

In [82]:
fp_brand_list = list(set([str(i) for i in fp_brands.Brand]))

In [83]:
fp_brand_list[:5]

['Cookie4Milk', 'Meera', 'Spring', 'Mamypoko', 'Hipp']

In [84]:
all_fp_tkb = pd.read_excel("sg_fp_tkb.xlsx")

In [85]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing

In [86]:
all_fp_tkb.name[0]

'Shears Blanket Fleece Blanket with Toy Buddy Pink Unicorn'

In [98]:
brand_regex = "(" + "|".join(fp_brand_list) + ")"
brand_regex

"(Cookie4Milk|Meera|Spring|Mamypoko|Hipp|The First Years Disney|Enfamil|Elgydium|Fairprice|Vigo|SENSI|The Foodiepedia|Bahlsen|Abbott Isomil|Little Pasta|Illuma|Wel.B|Good Bubble|Beauty line|Dumex|Offspring|Babyganics|Argasol\xa0|3m|Annie's Homegrown|Drypers|AVEDA|Bosomi|Nestle|Hap-P-Kid|Kiwigarden|Gw|Dapple|Dr. Paw Paw|Bubblebum|Happy Baby|Comvita|Double Bear|Little Etoile Organic|Tomica|Dr Gram|Quinua Real|Mom Essentials|Bickiepegs|Himalaya|Thames & Kosmos|Natural Aid|Dolphin Collection|MommyJ|Brookfarm|Ecostore|Pampers|Meykrs|Freedom Foods|Algo|Cetaphil|Wyeth S26|Baby Buddy|Happy Family|Nature Love Mere|Nuk|Baby Bjorn|Pinkfong|APPLECRUMBY|Medela|Only Org|Earth Mama|Simple Wishes|Dove|KinderNurture|Beautex|Babience|Shears|Biogaia|Kool Fever|Grinny|Friso|Colgate|Vesta|MELVADOS|B.Box|Holle|Sosro|Morinaga|Drapolene|Als|Colief|MARC ANTHONY|Buds Organics|EZPZ|Wakodo|Foodies With Love|Aptamil|Dentinox|Aquafresh|Pediasure|Cake Beauty|Dr.El|B&B|TASTI |Dr. Jacobs Naturals|Aquato|Germinal|Frisolac|Spectra|LoveSprings|Mavella|Minimonkey|Cawston|Doidy Cup|Organic Wave|Natural Secrets|Health Paradise|Lusol|Pipper Std|Ildong|Real Shades|Rudolfs|Bluna|Little Innoscents|Kidmoro|Bioshield|Einmilk|Kari Home|Kodomo|Euky Bear|Awarua Organics|Aveeno Baby|Vip|Nestle Lactogen|Hagerwin|Bentley Organic|Breeze|Ardo|Pureen|BONZ|Natracare|Nepia|Neat Solutions|Dr. Brown's|Mustela|Dori Dori|Tomy Disney|Summer Infant|Kewpie|Plum Organic|Pigeon|Abbott Grow|Bubble|Tasti|Gerber|Caredyn|Manicare|The First Years|Make My Day|Quickbury|Mother Earth|Horikoshi Japan|Maymom|Moon Rabbit Brand|Kiddylicious|Lavie|Milkaid|Haakaa|Tollyjoy|Essano|Maeil|Carrie Junior|Johnson'S|Merito|Koolsun|ToddlerFinest|Gum|Weleda|Against24|Heinz|HaruPlate|Kendakids|Nuvita|Tropicana|Ecomax|Baby U|Darlie|Alvins|Amark|MIJOY|Apple Monkey|Enfamama|Nestle Nan|Gogo Squeez|Greenscent|Candide|555|Bubs Organic|Keeyo|Green Bio Tech|Bellamy'S|Kent Brushes|Lau Yuen Tong|Le Organic|Biolane|HOUZE|Merries|Babytimes!|Annabel Karmel|Nomi Japan|AMA|Sanrio|Made4Baby|For Aisha|Alteya Organics|3m Scotch|Liese|Ergobaby|Gabrielle T|Benny B|NATUREALLY|Skiphop|Bebble|Mam|Twistshake|Philips Avent|Nut Walker|Huggies|Peachy|Nuby|Only Organic|LeapFrog|Serelys|Lamborghini|Tommee Tippee|Unimom|Pet Pet|Hape\xa0|MTRADE|Halilit|SG Homemade|Bema|Bebesup|Simba|Dreamgenii|ELLAS KITCHEN|Winfun|Bailey|Boony & Co|Natural|Applem|Play-Doh|Natura Siberica|Marketplace\xa0|Swisspers|Moogoo|Kirei|Anmum|Everfresh Wipes|Piccolo|Brush-Baby|Beaba|Sophie|Magna-Tiles|Kleenex|Green Earth Organic|Enfagrow|Coroku|Little Freddie|Laundrin|Follow Me|OXO TOT|Galt|Crich|Kikkoman|Nature One Dairy|oomf|Maternea|Milestone|Ferrari|Botany Naturals Baby|OJI|Babylove|Bitatto|MISE EN SCENE|FIsher Price|Osann|Mama Lemon|Lactogrow|OWEN BABY|Food People|Olive|Skip hop|Kendamil|One Sunny|Spring Maternity|Seventh G|Under The Nile|Upang|Diono|Fresco Nutrition|Baby Natura|Childs Farm|L'Oreal|Sophie The Giraffe|Calbee|Fairprice Gold|Cloversoft|Lansinoh|Biokleen|Greenday Snacks|Abbott Similac|Rafferty'S Garden|Kidario|Comotomo|Take One|Play N Learn|Aquato\xa0|Goo.N|Nature's Care|inomata Japan|Similac|MILTON|Sanada Seiko Japan|Desitin|Keter)"

In [108]:
brand_col = []
for i in all_fp_tkb.index:
    try:
        brand_col.append(re.search(brand_regex,all_fp_tkb.name[i]).group(1))
    except:
        brand_col.append("None")
all_fp_tkb["brand"] = brand_col

In [109]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category,brand
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears

In [110]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)

double checking with excel, there were some brands missing from my regex so I fixed them manually *sigh*

In [111]:
all_fp_tkb = pd.read_excel("all_fp_tkb.xlsx")

In [112]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category,brand
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears

In [116]:
all_fp_tkb["price_before_discount"] = all_fp_tkb["price_before_discount"].apply(lambda x : str(x))
all_fp_tkb["price_before_discount"] = all_fp_tkb["price_before_discount"].apply(lambda x : x.replace("NO DISCOUNT/PROMOTION","0"))
all_fp_tkb["price_before_discount"] = all_fp_tkb["price_before_discount"].apply(lambda x : float(x))

In [117]:
all_fp_tkb.head(20)

,price,price_before_discount,name,size,special_requirement,sub_category,brand
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears
5,17.91,19.9,Shears Blanket in Gift Box Baby Blanket Blue B...,1 X 1S,-,baby-clothing,Shears
6,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Pink ...,1 X 1S,-,baby-clothing,Shears
7,17.91,19.9,Shears Blanket in Gift Box Baby Blanket Pink B...,1 X 1S,-,baby-clothing,Shears
8,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy G...,1 X 1S,-,baby-clothing,Shears
9,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Brown...,1 X 1S,-,baby-clothing,Shears
10,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Blue ...,1 X 1S,-,baby-clothing,Shears
11,15.21,16.9,Shears Blanket Basic Baby Blanket Pink Floral ...,1 X 1S,-,baby-clothing,Shears
12,26.10,29.0,Shears Blanket Cocalo Breathable Blanket Grey ...,1 X 1S,-,baby-clothing,Shears
13,24.96,31.2,ToddlerFinest 3-Pack Baby Cotton Swaddle Blank...,1 Pc,-,baby-clothing,ToddlerFinest
14,18.90,0.0,Shears Amour Gift Set 4 PCS Gift Set White Clo...,1 X 1S,-,baby-clothing,Shears
15,19.90,0.0,Shears PullString Edward the Elephant Musical ...,1 X 200G,-,baby-clothing,Shears
16,7.90,0.0,Shears Animal Squeaker Toy Rachel the Rabbit SQRR,16 CM,-,baby-clothing,Shears
17,19.90,0.0,Shears Baby Swaddle 2 Pcs Cotton Swaddle Blue ...,1 X 1S,-,baby-clothing,Shears
18,18.90,0.0,Shears Amour Gift Set 4 PCS Gift Set Grey Yell...,1 X 1S,-,baby-clothing,Shears
19,29.90,0.0,Shears Muji Gift Set 4 PCS Gift Set Cloud Set ...,1 X 24CM,-,baby-clothing,Shears

In [122]:
price_for_comparison = []

for i in all_fp_tkb.index:
    if all_fp_tkb["price"][i] < all_fp_tkb["price_before_discount"][i]:
        price_for_comparison.append(all_fp_tkb["price_before_discount"][i])
    else:
        price_for_comparison.append(all_fp_tkb["price"][i])

price_for_comparison[:20]

[24.9,
 16.9,
 29.9,
 29.9,
 29.9,
 19.9,
 29.0,
 19.9,
 24.9,
 29.0,
 29.0,
 16.9,
 29.0,
 31.2,
 18.9,
 19.9,
 7.9,
 19.9,
 18.9,
 29.9]

In [123]:
all_fp_tkb["price_for_comparison"] = price_for_comparison

In [126]:
all_fp_tkb.head()

,price,price_before_discount,name,size,special_requirement,sub_category,brand,price_for_comparison
0,22.41,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,baby-clothing,Shears,24.9
1,15.21,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,baby-clothing,Shears,16.9
2,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears,29.9
3,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears,29.9
4,26.91,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,baby-clothing,Shears,29.9

In [129]:
all_fp_tkb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price                  5200 non-null   float64
 1   price_before_discount  5200 non-null   float64
 2   name                   5200 non-null   object
 3   size                   5200 non-null   object
 4   special_requirement    5200 non-null   object
 5   sub_category           5200 non-null   object
 6   brand                  5200 non-null   object
 7   price_for_comparison   5200 non-null   float64
dtypes: float64(3), object(5)
memory usage: 325.1+ KB

In [130]:
all_fp_tkb.drop(["price","price_before_discount"],axis=1)
new_cols = ["price_for_comparison","name","size","special_requirement","brand","sub_category"]
all_fp_tkb = all_fp_tkb[new_cols]
all_fp_tkb.head()

,price_for_comparison,name,size,special_requirement,brand,sub_category
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 X 1S,-,Shears,baby-clothing
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 X 1S,-,Shears,baby-clothing
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,Shears,baby-clothing
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,Shears,baby-clothing
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 X 1S,-,Shears,baby-clothing

In [134]:
all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: str(x).lower())
all_fp_tkb.head()

<ipython-input-134-6fc085d2002f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: str(x).lower())

,price_for_comparison,name,size,special_requirement,brand,sub_category
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1 x 1s,-,Shears,baby-clothing
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1 x 1s,-,Shears,baby-clothing
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 x 1s,-,Shears,baby-clothing
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 x 1s,-,Shears,baby-clothing
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1 x 1s,-,Shears,baby-clothing

Now this part is tricky because there are many different ways the size column is recorded in. Examples:
* 3 x 400ml
* 4 x 500g
* 6 x 0.11kg
* 200ml
* 350g

I need to get cost per 10grams, 10ml etc for comparison so I think I'll regex extract the words from size column to one column and digits to another column. But not all products needs to have this calculated(clothes, etc) so will need to find sub cats that need this treatment.

Looked over the file in excel to identify what needs to be calculated. Sometimes it's just so much easier to use excel.

In [136]:
subcats_to_calculate = ["baby-food","baby-toiletries","nursing-feeding","diapers","baby-laundry","milk-powder","infant-formula"]

In [137]:
all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: x.replace(" ",""))

<ipython-input-137-bfb88b99b9b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["size"] = all_fp_tkb["size"].apply(lambda x: x.replace(" ",""))

In [139]:
all_fp_tkb["qty"] = all_fp_tkb["size"].apply(lambda x: x.split("x")[0])
all_fp_tkb

<ipython-input-139-5e45d1fe39b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["qty"] = all_fp_tkb["size"].apply(lambda x: x.split("x")[0])

,price_for_comparison,name,size,special_requirement,brand,sub_category,qty
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,1
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,1
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1
...,...,...,...,...,...,...,...
5195,2.5,WINNER Non-Sterile Cotton Ball,100pc,-,WINNER,baby-toiletries,100pc
5196,9.9,Wooden Animal Habitats,1pc,-,VIP,toys,1pc
5197,12.8,Wooden Domino Game - Fruits,1pc,-,VIP,toys,1pc
5198,12.8,Wooden Domino Game - Insects,1pc,-,VIP,toys,1pc
5199,29.8,Wooden Magnetic Chinese Character Building Set,1pc,-,VIP,toys,1pc

In [152]:
amounts = []
units = []
for i in all_fp_tkb.index:
    temp_list = all_fp_tkb["size"][i].split("x")
    try:
        amount = re.sub('\D','',temp_list[1])
        unit = re.sub('\d','',temp_list[1])
        amounts.append(amount)
        units.append(unit)
    except:
        amounts.append(1)
        units.append("-")
all_fp_tkb["amounts"] = amounts
all_fp_tkb["units"] = units

In [153]:
all_fp_tkb

,price_for_comparison,name,size,special_requirement,brand,sub_category,qty,amounts,units
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,1,1,s
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,1,1,s
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1,1,s
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1,1,s
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,1,1,s
...,...,...,...,...,...,...,...,...,...
5195,2.5,WINNER Non-Sterile Cotton Ball,100pc,-,WINNER,baby-toiletries,100pc,1,-
5196,9.9,Wooden Animal Habitats,1pc,-,VIP,toys,1pc,1,-
5197,12.8,Wooden Domino Game - Fruits,1pc,-,VIP,toys,1pc,1,-
5198,12.8,Wooden Domino Game - Insects,1pc,-,VIP,toys,1pc,1,-
5199,29.8,Wooden Magnetic Chinese Character Building Set,1pc,-,VIP,toys,1pc,1,-

In [155]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)
#saving to excel just in case

In [156]:
for i in all_fp_tkb.index:
    if all_fp_tkb["amounts"][i] == 1 and all_fp_tkb["units"][i] == "-":
        all_fp_tkb["qty"][i] = re.sub('\D','',all_fp_tkb["size"][i])
        all_fp_tkb["units"][i] = re.sub('\d','',all_fp_tkb["qty"][i])

<ipython-input-156-c2ac7e63d413>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["units"][i] = re.sub('\d','',all_fp_tkb["qty"][i])
<ipython-input-156-c2ac7e63d413>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_fp_tkb["qty"][i] = re.sub('\D','',all_fp_tkb["size"][i])

In [157]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)

In [158]:
#nope messed up need to do it again
all_fp_tkb = pd.read_excel("all_fp_tkb.xlsx")

In [160]:
all_fp_tkb["units"] = all_fp_tkb["size"].apply(lambda x: re.sub('\d','',x))

In [162]:
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace("x",""))
all_fp_tkb.head()

,price_for_comparison,name,size,special_requirement,brand,sub_category,units
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,s
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,s
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s

In [177]:
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace(".",""))

In [178]:
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace("(ctn)",""))
all_fp_tkb["units"] = all_fp_tkb["units"].apply(lambda x: x.replace("ea",""))

In [179]:
amounts = []
qty = []

for i in all_fp_tkb.index:
    temp = all_fp_tkb["size"][i].replace(all_fp_tkb["units"][i],"").split("x")
    try:
        amounts.append(temp[1])
        qty.append(temp[0])
        
    except:
        amounts.append(temp[0])
        qty.append(1)
        

all_fp_tkb["qty"] = qty
all_fp_tkb["amounts"] = amounts

In [180]:
all_fp_tkb

,price_for_comparison,name,size,special_requirement,brand,sub_category,units,qty,amounts
0,24.9,Shears Blanket Fleece Blanket with Toy Buddy P...,1x1s,-,Shears,baby-clothing,s,1,1
1,16.9,Shears Blanket Basic Baby Blanket Blue Star SCFBB,1x1s,-,Shears,baby-clothing,s,1,1
2,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s,1,1
3,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s,1,1
4,29.9,Shears Hooded Blanket Organic Baby Hooded Blan...,1x1s,-,Shears,baby-clothing,s,1,1
...,...,...,...,...,...,...,...,...,...
5195,2.5,WINNER Non-Sterile Cotton Ball,100pc,-,WINNER,baby-toiletries,pc,1,100
5196,9.9,Wooden Animal Habitats,1pc,-,VIP,toys,pc,1,1
5197,12.8,Wooden Domino Game - Fruits,1pc,-,VIP,toys,pc,1,1
5198,12.8,Wooden Domino Game - Insects,1pc,-,VIP,toys,pc,1,1
5199,29.8,Wooden Magnetic Chinese Character Building Set,1pc,-,VIP,toys,pc,1,1

In [181]:
all_fp_tkb.to_excel("all_fp_tkb.xlsx",index=False)

214 cases I couldn't clean with python will use excel, I could figure out how to do it in python but I think I'll do it in excel since I want to sleep. The weird cases were products with freebies attached to them. I read that R was better for data cleaning so maybe give R a peek? Shit I'm only on the first dataset and it took this long. I hope cleaning the other datasets are much much easier. The first ones always is the hardest....